* {
    margin: 0;
    padding: 0;
}

.main {
    position: relative;
    width: 660px;
    height: 660px;
    margin: 40px auto;
    font-size: 0;
}

.controller {
    width: 350px;
    margin: 20px auto;
}

.grid {
    box-sizing: border-box;

    border: 0 solid black;
    border-right-width: 1px;
    border-bottom-width: 1px;

    display: inline-block;

    /*width: 60px;*/
    /*height: 60px;*/

    color: black;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    vertical-align: middle;
}

#role {
    position: absolute;
    left: 360px;
    top: 360px;;
    width: 59px;
    height: 59px;
    background-color: aquamarine;
    transition: 1s;
}

#role-head {
    width: 59px;
    height: 10px;
    background-color: aqua;
}